@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 10px;

}
.bcgimg{
    position: fixed;
    top: 0;
    left: 0%;
    z-index: -1;
}
nav{
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #1e266d;

}

.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logoimg{
    height: 70px;
    width: 100px;
}
li,a,button{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans' sans-serif;
}
.ul{
    list-style: none;
    display: flex;
    justify-content: end;
    flex-basis: revert ;
    align-items: center;
    gap: 0px;
}
.ul li{
padding: 0px 20px;

}

.paragraph{
    margin-top: 95px;
    display: flex;   
}
.details{
    align-items: center;
}

.image{
    align-items: center;
    
}
.imagewrap{
    align-items: center;
}
.heading h1{
    color: #1e266d;
    font-size: 3.25rem;
    line-height: 4rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    display: block;
    font-family: "Open Sans", sans-serif;
    width: 290px;
}
.para p{
    font-size: 2.125rem;
    color: #515867;
    margin-top: 0;
    margin-bottom: 20px;
    box-sizing: border-box; 
    display: block;
    font: sans-serif;
    font-family: "Open Sans", sans-serif;
}

.b1{
   display: inline-block;
   border: #ff6c02;
   border-radius: 32px;
   background-color: #ff6c02;
  color: #ffffff;
  padding: 1.25rem;
  border: 1px solid #ff6c02;
}

.b2{
    display: inline-block;
    padding: 1.25rem;
    border:1px solid #ff6c02;
    border-radius: 32px ;
    color: #ff6c02;
    font-size: 1.75rem;
    font-weight: 400;
    background-color: transparent;
}
.b3 {
    background-color:#1e266d;
    padding: 1.25rem;
    color: #ffffff;
    border: 1px solid #1e266d;
    display: inline-block;
    font-weight:600;
    font-size: 1.875rem;
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    border-radius: 32px; 

}
.style{
    display: flex;
    align-items: center;
}
.button{
    display: flex;
    gap: 2rem;
}   

.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.125rem;
    color: #222222;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
}
.divider{
    display: inline-block;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #d0dae2;
    margin-top: 30px;
}
.slideimage{
display: flex;
justify-content: space-between;
margin-top: 30px;
}
.content1{
    display: flex;
    flex-direction:column ;
    padding: 75px;
    font-family: "Open Snas",sans-serif;
}
.topic h2 {
color: #1e266d;
font-weight: 700;
font-size: 4rem;
font-family: "open sans", sans-serif;
line-height: 4.65rem;

}
.sub-topic p{
    color: #515867;
    font-weight: 500;
    font-size: 1.845rem;
    line-height: 2.235rem;
    font-family: "open sans",sans-serif;
    margin-top: 20px;
}
.innerwrap2{
    display: flex;
}

.iwrap2{
margin-top: 30px;
padding: 50px;
}
.button1{
    display: flex;
    gap: 2rem;
}
.btn1{
    display: inline-block;
    border: #ff6c02;
    border-radius: 32px;
    background-color: #ff6c02;
   color: #ffffff;
   padding: 1.25rem;
   margin-top: 30px;
}
.blue-cont-wrap{
background-color: #040470;
padding-top: 9.5rem;
padding-bottom: 6.625rem;
font-family: "Open Sans", sans-serif;

}

.blue-cont-details{
color :#ffffff;
text-align: center;
}

.blue-heading{
color: #ffffff;
font-weight: 700;
font-size: 4rem;
font-family: "open sans", sans-serif;
line-height: 3.625rem;
margin-bottom: 3rem;
text-align: center;
}

.blue-para{
color: #ffffff;
margin-bottom: 4rem;
text-align: center;
width: 39rem;
margin-right: auto;
margin-left: auto;
font-weight: 400;
font-size: 1.385rem;
line-height: 1.625rem;
font-family: "open sans",sans-serif;
}
.blue-box-1{
    height: 350px;
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
    display: inline-block;
    background-color: transparent;
}
.blue-heading1 h4{
    font-size: 2rem;
    font-family: "open sans", sans-serif;
    font-weight: 800;
    line-height: 3.125rem;
    color: #ffffff;
    align-items: center;
    margin-top: 20px;
    width: 200px;
}
.blue-para1 p{
color: #ffffff;
font-weight: 400;
font-size: 1.695rem;
font-family: "open sans", sans-serif;
line-height: 2.625rem;
align-items: center;
margin-top: 20px;
}
.blue-footer1{
    padding: 20px;
}
.symbol h4{
  color: #ffffff;
  font-weight: 600;
  font-size:  2rem;  
  font-family: "open sans", sans-serif;
  margin-top: 20px;
}
.card-icon-wrapper{
padding-left: 20px;
margin-top: 10px;
border-left: 2px solid #ff6c02;
}
.card-icon{
    background-color: #3232a0;
    border-radius: 97px;
    height:55px ;
    width:59px ;
    text-align: center;
    padding: 9px;

}
.card-icon svg{
    height: 35px;
    width: auto;
}

.blue-box-2{
   
    height: 350px;
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
    display: inline-block;
    background-color: transparent;

}

.blue-box-3{
   

    height: 350px;
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
    display: inline-block;
    background-color: transparent;
}
.card-Holder{
    display: flex;
    gap: 15rem;
    justify-content: center;
}


.container1{
    max-width: 1220px;
    margin: 0 auto;}

.main3{
color: #1e266d;
font-weight: 800;
font-size: 5rem;
margin-top: 30px;
line-height: 6.985rem;
font-family: "open sans", sans-serif;

}

.main4{
color: #515867;
font-weight: 400;
font-size: 2.125rem;
line-height: 2.625rem;
margin-top: 20px;
font-family:"open sans", sans-serif ;
}

.wrap1{
    display: flex;
    margin-bottom: 9.5rem;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 30px;
    padding: 50px;
}

.image1{
    max-width: 100%;
    height: auto;
    align-items: center;
}
.new1{
    display: flex;
}
.main-3{
    color: #1e266d;
    font-weight: 800;
    font-size: 4rem;
    margin-top: 30px;
    line-height: 4.985rem;
    margin-left: 20px;
    font-family: "open sans", sans-serif;
    
    }
    
    .main-4{
    color: #515867;
    font-weight: 500;
    font-size: 1.825rem;
    line-height: 2.625rem;
    margin-top: 20px;
    margin-left: 20px;
    font-family:"open sans", sans-serif ;
    }
    
    .b1-1{
        display: inline-block;
        border: #ff6c02;
        border-radius: 32px;
        background-color: #ff6c02;
       color: #ffffff;
       padding: 1.25rem;
       margin-top: 20px;
       margin-left: 20px;
    }
        
.new-inner{
padding: 35px;
}
.new2{
    display: flex;
    margin-top: 20px;
}
.wrap-1{
    display: flex;
}
.new-inner-1{
    padding: 35px;
}

.ul-li{
    color: #515867;
    margin-top: 20px;
    margin-left: 32px;
    font-family: "open sans", sans-serif;
}
.b1-1-3{
    display: inline-block;
    border: #ff6c02;
    border-radius: 32px;
    background-color: #ff6c02;
   color: #ffffff;
   padding: 1.25rem;
   margin-top: 20px;
   margin-left: 20px;
   margin-left: 35px        ;
}
.main-3-1{
    color: #1e266d;
    font-weight: 800;
    font-size: 4rem;
    margin-top: 30px;
    line-height: 4.985rem;
    margin-left: 20px;
    font-family: "open sans", sans-serif;
    padding: 20px;
    
    }
    
    .main-4-1{
    color: #515867;
    font-weight: 500;
    font-size: 1.825rem;
    line-height: 2.625rem;
    margin-top: 20px;
    margin-left:35px;
    padding: 10px;
    font-family:"open sans", sans-serif ;
    }
    .new3{
        display: flex;
    }
    .blue-cont-wrap1{
        background-color: #040470;
        padding-top: 9.5rem;
        padding-bottom: 6.625rem;
        font-family: "Open Sans", sans-serif;
        margin-top: 30px;
        
    }
    .blue-cont-details-1{
        color :#ffffff;
        text-align: center;
        font-family: "open sans", sans-serif;
    }
    .blue-heading1{
        color: #ffffff;
        font-weight: 700;
        font-size: 4rem;
        font-family: "open sans", sans-serif;
        line-height: 3.625rem;
        margin-bottom: 3rem;
        text-align: center;   
    }
    .blue-para1-3{
        color: #ffffff;
        margin-bottom: 4rem;
        text-align: center;
        width: 82rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 2.385rem;
        line-height:2.925rem;
        font-family: "open sans",sans-serif;
    }
   
    .card2-1{
        display: flex;
        background-color: #fff;
        height: 359px;
        width: 573px;
        display: flex;
        flex-direction: column;
    }
    .card2-1-1{
        display: flex;
        background-color: #fff;
        height: 359px;
        width: 573px;
        display: flex;
        flex-direction: column;
    }
    .card-1-img{
        width: 80px;
        margin-left: 59px;
        margin-top: 27px;
    }
    .para {
        font-size: 1.825rem;
        font-family: "open sans", sans-serif;
        margin-top: 47px;
        line-height: 3.75rem;
        margin-left: 14px;
        margin-right: 14px;
        font-weight: 100;
        font-style: italic;
    }
    .card3{
        display: flex;
    }
    .card-wrapper-1{
        display: flex;
        justify-content: center;
        gap: 15rem;
        margin-left: 28px;
    }
   
   .h5p5{
        padding-top: 43px;
       margin-left: 30px;

   }
   .heading-5{
       font-size: 1rem;
       font-weight: 100;
       font-family: "0pen-sans",sans-serif;
   }
   .heading-5 h5{
       font-size: 18px;
       font-family: "open sans", sans-serif;
   }
   .heading5 h5{
    font-size: 18px;
    font-family: "open sans", sans-serif;
}
   .para5 p{
       font-size: 16px;
       font-family: "open sans", sans-serif;
   }
   .end-1 h2{
       font-size: 5rem;
       font-family: "open sans", sans-serif;
       font-weight: 800;
       margin-top: 100px;
       padding: 49px;
       text-align: center;

   }
   .span-1{
       text-decoration: underline;
       font-size: 2rem;
       font-family: "open sans", sans-serif;
   }
   .para-end{
       font-size: 2rem;
       font-family: "open sans", sans-serif;
       width: 548px;
       margin-left: auto;
       margin-right: auto;

   }
   .button-end{
       border: #606266;
       border-radius: 50px;
       display: inline-block;
       box-sizing: border-box;
       padding: 24px;
       border-top-right-radius: 10px;
       border-bottom-right-radius: 10px;
       padding-right: 172px;
   }
   .btn-end-1{
       display: flex;
       justify-content: center;
       margin-top: 45px;
       margin-bottom: 50px;
   }
   .btn-end{
    display: inline-block;
    border: #ff6c02;
    border-radius: 32px;
    background-color: #ff6c02;
   color: #ffffff;
   padding: 22px;
   margin-top: 30px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   }
   .btn-end-1 input{
    
    padding-left: 2rem;
    border-radius: 32px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #e2e2e2;
    border-right: 1px solid transparent;
    font-size: 1.325rem;
    font-family: "open sans", sans-serif;
   }
   .btm-content-1{
       font-size: 4rem;
       font-weight: 400;
       font-family: "open sans", sans-serif;
      
   }
   .btm-h-1{
    font-size: 3rem;
    font-weight: 100;
    font-family: "open sans", sans-serif;
   }
   .btm-p-1{
    width: 200px;
    font-size: 1.925rem;
    line-height: 2.125rem;
    margin-top: 20px;
    width: 308px;
   }
   .btm-content-wrap{
       display: flex;
       background-color: #f9f9f9;
       padding-top: 5.5rem;
       padding-bottom: 30.5rem;
   }

   .card-icon-1{
    background-color: #e8e8f3;
    border-radius: 40px;
    height:57px ;
    width:55px ;
    text-align: center;
    padding: 19px;

   }
   .card-icon-wrapper-1{
    padding-left: 20px;
    margin-top: 10px;    
 }
 .p-btm-content{
     font-size: 1.525rem;
     line-height: 1.5rem;
     color: #515867;
     font-weight: 400;
     font-family: "open sans", sans-serif;
     margin-top: 30px;
     margin-right: 55px;
     width: 176px;
 }
 .end-wrap{
     display:flex ;
     gap: 2rem;
     background-color: #cfcece;
     padding: 50px;
     justify-content: center;
     align-items: center;
 }
 .btm-content-wrap-1{
    display: flex;
    padding-top: 5.5rem;
    padding-bottom: 30.5rem;
    gap: 5rem;
    margin-left: 20px;
    margin-right: 20px;
    padding: 150px;
    font-family: "open sans", sans-serif;
}
.icon-wrapper-last{
    display: flex;
}
.container-end{
    margin: auto;
   
}